body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #d1edf8;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;

}

footer {
  text-align: right;
  color: midnightblue;
}
.FIRST{
  color: blueviolet;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  
}
.logo{
  width: 120px;
  height: auto;
  position:relative;
  border-radius: 50%;
  
}
.card{
  width:45% ;
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.left {
  float:left;
}

.right {
  float: right;
}
.tile-image {
  height:200px;
float: left;
margin-right: 20px;
border-radius: 30%;
}

@media (max-width: 680px){
    
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
 
 font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;


  }
  .first{
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
    
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
  



